APScheduler==3.11.1
blinker==1.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.3
Flask==3.1.2
Flask-WTF==1.2.2
geoip2==4.8.0
greenlet==3.3.0
gunicorn==21.2.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
ldap3==2.9.1
MarkupSafe==3.0.3
pyasn1==0.6.1
pycparser==2.23
requests==2.32.5
SQLAlchemy==2.0.45
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.6.1
Werkzeug==3.1.4
WTForms==3.2.1
