Flask==3.0.0
Flask-WTF==1.2.1
Werkzeug==3.1.4
requests==2.32.4
aiohttp==3.13.2
APScheduler==3.10.4
SQLAlchemy==2.0.45
ldap3==2.9.1
geoip2==4.7.0
python-whois==0.9.6
tzlocal==5.2
gunicorn==23.0.0
cryptography==44.0.0
dnspython==2.6.1
aiodns==3.1.1
pycares==4.9.0